.barra-avance__boton--regresar i
  color: $color-sistema-texto
.boton.barra-avance__boton--regresar:active span,  .boton.barra-avance__boton--regresar:focus span,  .boton.barra-avance__boton--regresar:hover span
  color: $white !important
.titulo-segundo:after
  border-left: solid 50px $color-primario

.back-white
  background-color: #FFF
.back-gris
  background-color: #F6F6F6
.back-verde-suave
  background-color: #e1efae   
.back-verde
  background-color: #e1f3d1
.back-amarillo-suave
  background-color: #fef9d1
.back-primario
  background-color: #8AD24A
.back-color-acento-contenido  
  background-color: #FDE947
.tarjeta-verde
  background-color: #e2f3d2  


.lista-azul.lista-ul--color li > i:first-of-type
  color: #3CA8F4
.lista-ul--color.lista-circulo.lista-azul li > i:first-of-type
  font-size: 12px
  padding-top: 1px
.lista-verde.lista-ul--color li > i:first-of-type
  color: #8AD24A  
  font-size: 12px
  padding-top: 2px  